@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin mainContainer {
    flex: 1;
    max-width: 100rem;
    min-height: 45rem;
    margin: 5rem auto;
    position: relative;
    overflow: hidden;
}